body{
background-color:#7d7720; 
font-size:15;
}
header{
background-color:black;
color:white;
text-align:center;
padding:20px;
}
nav{
line-height:30px;
background-color:#eeeeee;
height:500px;
width:100px;
float:left;
padding:5px;
}
section{
width:350px;
float:left;
padding:10px;
}
footer{
background-color:black;
color:white;
clear:both;
text-align:center;
padding:15px;
font:courier;
